extends ../doc-layout

block content

	style(type="text/css").
		.example .ui.button:not(.attached) {
			margin-top: 0.5em;
		}

		.example .ui.buttons > .ui.button {
			margin-top: 0em;
		}

	+addCatalog("standard","标准")
	.example#standard
		h4.ui.header 标准按钮
		.code
			c-button(caption="Hello")
			c-button(class="basic") Hello

	+addCatalog("event","事件绑定")
	.example(name="event")#event
		h4.ui.header 事件绑定
		.code
			c-button(click="hello") 单击
	script(type="text/javascript" name="event").
		cola("event", function (model) {
			model.action({
				hello: function (self, arg) {
					alert("您已迈出神奇的一步！");
				}
			})
		});

	+addCatalog("icon-btn","图标")
	.example#icon-btn
		h4.ui.header 图标按钮
		.code
			c-button(icon="cloud" class="icon")

	+addCatalog("icon-caption","图标+标题")
	.example(name="icon-caption-button")#icon-caption
		h4.ui.header 图标+标题
		p 图标的默认位置在左侧，可通过<code>iconPosition:right</code>属性移至右侧

		.code
			c-button(icon="cloud" caption="在左(默认)")
			c-button(icon="cloud" iconPosition="right" caption="在右")

	+addCatalog("emphasis","高亮")
	.example#emphasis
		h4.ui.header 高亮按钮
		p 高亮模式不尽提供了<code>primary、secondary、positive、negative</code>还可以通过后续的color属性获得高亮
		.code
			- var emphasis={primary:"保存",secondary:"取消",positive:"提交",negative:"放弃"}
			each val, index in emphasis

				c-button(class=index caption=val)

	+addCatalog("animated","动画")
	.example#animated
		h4.ui.header 动画按钮
		p
		.code
			c-button(class="animated")
				.visible.content 下一步
				.hidden.content
					i.right.arrow.icon
			c-button(class="vertical animated")
				.hidden.content 购买
				.visible.content
					i.shop.icon
			c-button(class="fade animated")
				.visible.content 购买电子文档
				.hidden.content ￥12.99

	+addCatalog("fluid","流体")
	.example#fluid
		h4.ui.header 流体按钮
		p 此按钮将横向撑满容器：宽度为100%
		.code
			c-button(class="fluid;") 宽度100%

	+addCatalog("color","颜色")
	.example#color
		h4.ui.header 颜色按钮
		p 默认提供了以下几种颜色
		.code
			each color in colors
				c-button(color=color caption=color )

	+addCatalog("basic-color","class:basic + 颜色")
	.example#basic-color
		h4.ui.header class:basic + 颜色
		p 通过此模式可获得边框幽灵效果
		.code
			each color in colors
				c-button(class="basic" color=color caption=color )

	+addCatalog("states","状态")
	.example#states
		h4.ui.header 状态
		p 通过state属性设定按钮状态，可选值有<code>loading、active</code>（默认状态可以传空字符串）
		.code
			c-button(caption="默认状态")
			- var states={active:"激活态",loading:"装载态"}
			each val, index in states
				c-button(state=index caption=val)

	+addCatalog("inverted","反白效果")
	.example#inverted
		h4.ui.header Inverted
		p 深色背景条件下的反白效果
		.code
			div(c-widget="Segment; class:inverted;")
				each color in colors
					c-button(class="inverted" color=color caption=color )

	+addCatalog("size","尺寸")
	.example#size
		h4.ui.header 尺寸
		p 默认提供了以下尺寸<code>mini、tiny、small、medium、large、big、huge、massive</code>
		.code
			each size in sizes
				c-button(size=size caption=size )

	.example#attached
		h4.ui.header 附所模式
		p 此模式将获得相应的边角处理
		.code
			div(c-widget="Segment;" style={padding: 0})
				c-button(attached="top" caption="顶部按钮")
				p(style={height: "80px"})
				c-button(attached="bottom" caption="底部按钮")


	script(type="text/javascript").
		cola(function (model) {
		});


